<html lang='en'>
	<head>
		{{> styles}}
		{{> meta}}
		<title>Photographic Landscapes - Photos</title>
	</head>
	<style>
	</style>
	<body>
		{{> header}}
		{{> nav}}
		<section>
			No Content Found
		</section>
	</body>
</html>
