<html lang='en'>
	<head>
		{{> styles}}
		{{> meta}}
		<title>Photographic Landscapes - Contact</title>
	</head>
	<style>
		section {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
			gap: 1em;
		}

		img { width: 100%; }
	</style>
	<body>
		{{> header}}
		{{> nav}}
		<section>
			<img src='{{graphic.file.url}}' alt='{{graphic.description}}' />
			<div>
				{{{blurb}}}
			</div>
		</section>
	</body>
</html>
