<html lang='en'>
	<head>
		{{> styles}}
		{{> meta}}
		<title>Photographic Landscapes - Contact</title>
	</head>
	<style>
		section { display: grid; grid-template-columns: 1fr 1fr; } img { width: 100%; }
	</style>
	<body>
		<h1>Contact</h1>

		{{> nav}}
		<section>
			<img src='{{graphic.file.url}}' alt='{{graphic.description}}' />
			<div>
				{{{blurb}}}
			</div>
		</section>
	</body>
</html>
