<html lang='en'>
	<head>
		{{> styles}}
		{{> meta}}
		<title>Photographic Landscapes - Photos</title>
	</head>
	<style>
		section {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
			gap: 1em;
		}

		pl-thumbnail:focus p,
		pl-thumbnail:hover p {
			display: block;
		}

		pl-thumbnail {
			position: relative;

			img { width: 100%; }

			p {
				display: none;
				position: absolute;
				margin: 0;
				padding: 0.2em;
				color: white;
				background: rgba(0, 0, 0, 0.75);
			}

			p[desc] {
				bottom: 0;
			}

			p[num] {
				top: 0;
				right: 0;
        border-radius: 0 0 0 0.6em;
				padding-left: 0.4em;
			}
		}
	</style>
	<body>
		<h1>Photos</h1>

		{{> nav}}
		<section>
			{{#each thumbnails}}
				<pl-thumbnail tabindex="0" onclick="focus">
					<img src='{{this.fields.file.url}}' alt='{{this.fields.description}}' />
					<p desc>{{this.fields.description}}</p>
					<p num>{{this.fields.title}}</p>
				</pl-thumbnail>
			{{/each}}
		</section>
	</body>
</html>
