<html lang='en'>
	<head>
		{{> pl-calendar}}
		{{> styles}}
		{{> meta}}
		<title>Photographic Landscapes - Shows</title>
	</head>
	<style>
		h2 {
			margin-bottom: 0;
		}

		section {
			display: flex;
			flex-direction: column;
			gap: 1em;
		}
		img {
			width: 100%;
		}

		event-block {
			display: grid;
			grid-template-columns: 300px minmax(300px, 1fr) auto;
			gap: 1em;
			align-items: center;
		}

		calendar-block {
			display: flex;
			gap: 1em;
		}

		pl-calendar {
			border: solid black 2px;
    	border-radius: 5px;
		}


	</style>
	<body>
		{{> header}}
		{{> nav}}
		<section>
			{{#if events.ongoing.length}}
			<div>
				<h2>Ongoing Shows</h2>
				{{#each events.ongoing}}
						{{> event-section this=this}}
				{{/each}}
			</div>
			{{/if}}
			{{#if events.upcoming.length}}
			<div>
				<h2>Upcoming Shows</h2>
				{{#each events.upcoming}}
						{{> event-section this=this}}
				{{/each}}
			</div>
			{{/if}}
			{{#if events.past.length}}
			<div>
				<h2>Past Shows</h2>
				{{#each events.past}}
						{{> event-section this=this}}
				{{/each}}
			</div>
			{{/if}}
		</section>
	</body>
</html>
