<html lang='en'>
	<head>
		{{> meta}}
		<title>Photographic Landscapes - Shows</title>
	</head>
	<style>
		section { display: grid; grid-template-columns: 1fr 1fr; } img { width: 100%; }
	</style>
	<body>
		<h1>Shows</h1>

		{{> nav}}
		<section>
			<img src='{{graphic.file.url}}' alt='{{graphic.description}}' />
			{{{blurb}}}
		</section>
	</body>
</html>
